# Setup

In [37]:
# import libraries 
import pandas as pd
import numpy as np
import os

In [38]:
# create shortcut path 
path = r"C:\Users\HP\Documents\06-2024 Instacart Basket Analysis" 
# import data set
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

# 04. Check shape of imported dataframe

In [40]:
# output of df_ords_combined
df_ords_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [41]:
# dropping columns
df_ords_combined = df_ords_combined.drop(columns = ['_merge'])

In [42]:
df_ords_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [43]:
df_ords_combined.shape

(32434489, 9)

In [44]:
# output of df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [45]:
df_prods.shape

(49672, 5)

# 05. Combining the two dataframes

I am electing to use the 'merge()' function to combine the two dataframes

In [48]:
# merging df_prods and df_ords_combined
df_merged = df_prods.merge(df_ords_combined, on = 'product_id', indicator = True)

# 06. Confirming results of merge

In [50]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [51]:
df_merged.shape

(32404859, 14)

In [52]:
# frequency check
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

By not specifying which join to use, an inner join is used by default. If I wanted to include the records from the main table (df_prods), all  the records from that table will remain even when the secondary table (df_ords_combined) doesn't have them. I created a separate merged database in this manner and there were 11 rows from the 'df_prods' dataframe that were not in the 'df_ords_combined' dataframe. To do this, I would add the parameter 'how = 'left' to the merging code above. It was deemed not necessary, so I stuck with the merged dataframe created (df_merged) with the use of an inner join.

In [54]:
df_merged.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
order_number                    0
order_day_of_week               0
order_hour_of_day               0
days_since_prior_order    2076096
add_to_cart_order               0
reordered                       0
_merge                          0
dtype: int64

In [55]:
df_merged[df_merged.duplicated()].shape

(0, 14)

# 07. Exporting dataframe as 'ords_prods_merge'

In [57]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))